* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- ヘッダー左側部分 --- */

.logo-img-wrap {
  width: 50%;
}

.logo-img {
  text-align: center;
  margin-top: 10px;
}

.logo-img a {
  font-family: 'Stick', sans-serif;
  font-size: 40px;
  text-decoration: none;
  color: #1c8c42;
}

/* --- ヘッダー右側部分 --- */

.nav {
  width: 50%;
}

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 10px;
}

.login a, .sign-up a, .logout a {
  font-family: 'Stick', sans-serif;
  font-size: 18px;
  border: solid 1px;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.login a:hover, .sign-up a:hover, .logout a:hover {
  background-color: #1c8c42;
  color: white;
}

.user-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px black solid;
  object-fit: cover;
}
