<%= render 'shared/header' %>
<div class='user-edit-main'>
  <div class='edit-title'>
    退会 最終確認
  </div>
  <div class='delete-form-wrap'>
    <div class='delete-field-wrap'>
      退会されますとサービスがご利用いただけません。<br>
      再度ご利用いただく場合には新規登録のお手続きが必要になります。<br>
      <span>本当に退会してよろしいですか?</span>
      <div class='final-btn'>
        <div class='final-confirmation-n'>
          <%= link_to '戻る', user_path(current_user), class: 'back-btn' %>
        </div>
        <div class='final-confirmation-y'>
          <%= link_to '退会する', withdrawal_path, data: { turbo_method: :patch, confilm: "本当に退会しますか？" }, class: 'user-delete-btn' %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>