<div class='footer-box'>
  <div class='footer-index'>
    <div class='app-exp'>
      ドコイクについて
    </div>
    <div class='app-free-mtrl'>
      フリー素材について
    </div>
  </div>
  <div class='footer-logo'>
    DOKOIKU 2024
  </div>
</div>