<header class='toppage-header'>
  <%= image_tag('7.png', size: '100x100', class: "logo-img") %>
  <%= link_to 'ドコイク', "#", class: "logo" %>
  <div class='nav'>
    <ul class='user-nav'>
      <li><%= link_to 'ログイン', "#", class: "login" %></li>
      <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
    </ul>
  </div>
</header>