html,body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: none;
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: black;
}

.index-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* --- ヘッダー下部 アプリ看板 --- */

.index-img-title {
  width: 100%;
  position: relative;
}

.index-img {
  margin-top: 2vh;
  width: 100%;
  height: 350px;
  opacity: 60%;
  object-fit: cover;
}

.service-title {
  position: absolute;
  top: 100px;
  left: 250px;
  font-size: 50px;
  font-family: 'Kaisei HarunoUmi', serif;
}

.service-title-sub {
  position: absolute;
  top: 200px;
  left: 500px;
  font-size: 50px;
  font-family: 'Kaisei HarunoUmi', serif;
}

/* --- フェードイン部分 --- */

.service-title span {
  opacity: 0;
  transform: translateY(20px);
  display: block;
  background-color: white;
}

.service-title-sub span {
  opacity: 0;
  transform: translateY(20px);
  display: block;
  background-color: white;
}

.service-title span:first-child {
  animation: catch_anime 1s forwards 1s;
}

.service-title-sub span:first-child {
  animation: catch_anime 1s forwards 2s;
}

@keyframes catch_anime {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- メニューバー --- */

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.left-bar {
  width: 100%;
  font-size: 23px;
  text-align: center;
  padding: 5px 5px;
}

.left-bar:hover {
  color: white;
  background-color: #4d4d4d;
}

.center-bar {
  width: 100%;
  font-size: 23px;
  text-align: center;
  padding: 5px 5px;
}

.center-bar:hover {
  color: white;
  background-color: #4d4d4d;
}

.center-bar:hover a {
  color: white;
  background-color: #4d4d4d;
}

.right-bar {
  width: 100%;
  font-size: 23px;
  text-align: center;
  padding: 5px 5px;
}

.right-bar:hover {
  color: white;
  background-color: #4d4d4d;
}

.right-bar:hover a {
  color: white;
  background-color: #4d4d4d;
}

.hidden{
  display: none;
}

.prefecture-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vh;
}

a {
  text-decoration: none;
  color: black;
}

/* --- 新規投稿 文字部分 --- */

.new-posts-index {
  width: 100%;
  margin: 50px 0;
  padding: 0 40vw;
  text-align: center;
}

.new-cnt-img {
  object-fit: contain;
  background-color: #e6e6fa;
}

.new-cnt {
  font-size: 30px;
  background-color: #e6e6fa;
}

/* --- 投稿一覧 --- */

.posts-lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.list {
  margin-bottom: 5vh;
  padding: 30px 30px;
  border: 1px solid #bebebe;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(43,43,43, 0.5);
}

.posts-img {
  width: 30vw;
  height: 40vh;
  border-radius: 5px;
}

/* --- 新規投稿画像の下(投稿タイトル/都道府県名/ユーザーID)部分 --- */

.post-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.posted-user {
  display: flex;
  justify-content: flex-end;
}

.posted-title {
  font-size: 20px;
  font-weight: bold;
}