html,body {
  overflow-x: hidden;
}

.index-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* --- ヘッダー下部 アプリ看板 --- */

.index-img-title {
  width: 100%;
  position: relative;
}

.index-img {
  margin-top: 2vh;
  width: 100%;
  height: 350px;
  opacity: 60%;
  object-fit: cover;
}

.service-title {
  position: absolute;
  top: 100px;
  left: 250px;
  font-size: 50px;
  font-family: 'Kaisei HarunoUmi', serif;
}

.service-title-sub {
  position: absolute;
  top: 200px;
  left: 500px;
  font-size: 50px;
  font-family: 'Kaisei HarunoUmi', serif;
}

/* --- フェードイン部分 --- */

.service-title span {
  opacity: 0;
  transform: translateY(20px);
  display: block;
  background-color: white;
}

.service-title-sub span {
  opacity: 0;
  transform: translateY(20px);
  display: block;
  background-color: white;
}

.service-title span:first-child {
  animation: catch_anime 1s forwards 1s;
}

.service-title-sub span:first-child {
  animation: catch_anime 1s forwards 2s;
}

@keyframes catch_anime {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- 新規投稿 文字部分 --- */

.new-posts-index {
  width: 100%;
  margin: 50px 0;
  padding: 0 40vw;
  text-align: center;
}

.new-cnt-img {
  object-fit: contain;
  background-color: #e6e6fa;
}

.new-cnt {
  font-size: 30px;
  background-color: #e6e6fa;
}

/* --- 投稿一覧 --- */

.posts-lists {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list {
  margin: 3vh 2vw;
}

.posts-img {
  height: 33vh;
  width: 50vh;
}

/* --- 新規投稿画像の下(投稿タイトル/都道府県名/ユーザーID)部分 --- */

.post-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.posted-user {
  display: flex;
  justify-content: flex-end;
}

.posted-title {
  font-size: 20px;
  font-weight: bold;
}

/* --- 投稿する/都道府県から探す 部分 --- */

.search-nav {
  width: 100%;
  padding: 0 30vw;
  margin: 15vh 0;
  text-align: center;
}

.search-prefecture {
  font-size: 30px;
  background-color: #1c8c42;
}

.new-post {
  font-size: 30px;
  margin-top: 3vh;
  background-color: #0aff84;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Kaisei HarunoUmi', serif;
}

.search-prefecture a:hover {
  color: white;
}

.new-post a:hover {
  color: white;
}